$highlight-color: rgb(51, 122, 183);
$placeholder-padding: 5px;
$placeholder-font-size: 16px;
$placeholder-font-size-small: 14px;
$placeholder-transition: 200ms ease-in-out;
$input-font-size: 16px;
$input-top: 15px;
$input-height: 30px;
$input-border-color: grey;

.form-input {
  margin:20px 0;
  width: 100%;

  label {
    position:relative;
    display:block;
    width:100%;
    min-height:$input-height + $input-top;
  }

  .placeholder {
    position:absolute;
    display:block;
    top:($input-height / 2) + $placeholder-padding;
    z-index:2;
    font-size:$placeholder-font-size;
    transition:all $placeholder-transition;
    width:100%;
    cursor:text;
  }

  input {
    position: relative;
    top:$input-top;
    z-index:1;
    width:100%;
    font-size:$input-font-size;
    border:0;
    border-bottom:1px solid $input-border-color;
    transition: border-color $placeholder-transition;
    outline:none;
    padding: 0;
    margin: 0;
  }
  
  input {
    height:$input-height; 
  }

  input:focus,
  input:not([value=""]){
    & + .placeholder {
      top:0px;
      cursor:inherit;
      font-size:$placeholder-font-size-small;
      color:$highlight-color;
    }

    border-bottom:2px solid $highlight-color;
  }
}


.InputWrap {
  position: absolute;
  top: -40px;
  bottom: 0px;
  left: 40px;
  right: 0px;
}